.main-container {
  // background-color: #10121E;
  // background-color: BLACK;
  background-color: white;
  padding: 30px 6% 0px 3%;
  .navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    .conference-logo {
      display: flex;
      flex-direction: row;
      gap: 10px;
      .rectangle {
        background-color: rgb(4, 64, 42);
        padding-bottom: 0px;
        padding: 12px 5px 0px 5px;
        p {
          font-size: 1vw;
          text-transform: uppercase;
          font-weight: bold;
          margin: 0px;
          color: white;
        }
      }

      .text {
        p {
          color: rgb(4, 64, 42);
          margin-bottom: 2px;
          font-size: 0.8vw;
          font-weight: bold;
        }
      }
    }

    .menu-icon {
      display: none;
    }

    .nav-items {
      width: 40%;
      display: flex;
      justify-content: space-between;
      padding-top: 8px;

      .nav-item {
        color: rgb(4, 64, 42);
        font-weight: bold;
        font-size: 1vw;
        cursor: pointer;
      }

      // .nav-item:hover{
      //   color: #FDC030;
      // }

      .active-tab {
        color:rgb(4, 64, 42);
        font-weight: bold;
      }
    }
  }

  .title-section {
    margin-top: 20px;
    background-color: rgb(163, 219, 226);
    padding: 10% 0px;

    .body{
      width: fit-content;
      margin: 0 auto 0 auto;
      .title {
        color: black;
        font-weight: bolder;
        font-size: 40px;
        text-transform: uppercase;
      }
      .sub-title {
        color: black;
        font-size: 25px;
        text-align: center;

        span {
          font-weight: bold;
          font-size: 25px;
        }
      }
      .date {
        color: black;
        font-size: 25px;
        text-align: center;
        font-weight: bold;
      }
    }
  }

  .about-section {
    margin-top: 50px;
    // display: flex;
    // justify-content: space-between;
    .topics {
      display: flex;
      margin-left: 200px;
      // flex-wrap: wrap;
      justify-content: space-between;
      width: 80%;
      .topic-container {
        width: 246px;
        height: 220px;
        // flex-basis: 48%;
        // background: rgb(51, 51, 51);
        background: lightgrey;
        margin-bottom: 20px;
        border-radius: 10px;
        padding-top: 1%;
        padding-right: 10px;

        .topic {
          color: rgb(4, 64, 42);   
          // text-align: center;  
          font-size: 16px;
          font-weight: bold;
        }
      }
    }
    .details {
      margin-top: 20px;
      .about {
        color: white;
        font-size: 1vw;
        font-weight: bold;
        margin-top: 20px;
        // text-align: right;
      }
      .description {
        margin-left: 100px;
        color: rgb(4, 64, 42); 
        font-size: 30px;
        font-weight: bold;
        line-height: 40px;
      }
    }
  }

  .speakers-section {
    margin-top: 100px;
    .heading {
      color: rgb(4, 64, 42); 
      font-size: 45px;
      font-weight: bold;
      text-align: center;
    }

    .speaker-tiles {
      display: flex;
      flex-wrap: wrap;
      margin-top: -60px;
      // justify-content: flex-end;
      // gap: 15%;
  
      .speaker-card {
        padding: 0px;
        flex-basis: 25%;
        margin-top: 90px;
      }
    }
  }

  .agenda-section {
    margin-top: 80px;
    .heading {
      color: rgb(4, 64, 42); 
      font-size: 55px;
      font-weight: bold;
      text-align: center;
    }

    // .body {
    //   color: rgb(4, 64, 42); 
    //   text-align: center;
    // }
    .program {
      margin-top: 60px;
      display: flex;
      justify-content: space-between;
      .session-container{
        width: 45%;
        .session {
          color: rgb(4, 64, 42); 
          font-size: 25px;
          font-weight: bold;
          text-align: center;
        }
        .schedule {
          display: flex;
          // margin-top: 30px;
          padding: 20px 0px;
          height: 130px;
          // margin-bottom: 20px;
          justify-content: space-between;
          .time {
            color: rgb(4, 64, 42); 
            font-size: 20px;
            margin-left: 30px;
            margin-top: 10px;
            align-items: center;
          }
          .item {
            width: 50%;
            .title {
              color: rgb(4, 64, 42); 
              font-size: 20px;
              margin-bottom: 3px;
              text-align: left;
              font-weight: bold;
            }
            .sub {
              margin-top: 0px;
              color: rgb(4, 64, 42); 
            }
          }
        }
        .background {
          background-color: lightgrey
        }
      }
    }

  }

  .sponsors-section {
    margin-top: 40px;
    padding-left: 50px;
    .heading {
      color:  rgb(4, 64, 42); 
      font-size: 55px;
      font-weight: bold;
      text-align: center;
      margin-bottom: 30px;
    }
    .info {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      .sponsors {
        cursor: pointer;
        .logo {
          max-width: 200px;
          max-height: 200px;
          height: auto;
          width: auto;
        }
      }
    }
  }
}

.contacts-section{
  background-color: rgb(79, 184, 108);
  margin-top: 40px;
  padding-bottom: 30px;
  padding-top: 30px;
  // margin-left: -3%;
  // margin-right: -6%;
  .heading {
    color:  rgb(4, 64, 42); 
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
  }
  .contact-board {
    border-radius: 10px;
    justify-content: space-around;
    display: flex;
    .contact {
      // border-right: 3px solid white;
      // width: 30%;
      .name {
        color:  rgb(4, 64, 42); 
        font-size: 18px;
      }
      .email {
        color:  rgb(4, 64, 42); 
      }
      .description {
        color:  rgb(4, 64, 42); 
      }
    }
  }
}


// mobile-view
@media (max-width: 599px) {
  .main-container {
    padding: 20px 20px 0.5% 20px;

    .navigation {
      .conference-logo {
        gap: 3px;
        max-height: 25px;
        .rectangle {
          max-height: 30px;
          padding: 5px 5px 0px 4px;

          p {
            font-size: 8px;
          }
        }
        .text {
          p {
            font-size: 8px;
          }
        }
      }
      .menu-icon {
        display: block;
        padding: 0px 10px 5px 2px;
      }
      .nav-items {
        display: none;
      }
    }

    .title-section {
      margin-top: 10px;
      padding: 15% 13%; 
      box-sizing: border-box;

      .body {
        width: fit-content;
        margin: 0 auto 0 auto;
        .title {
          font-size: 20px;
        }
        .sub-title {
          font-size: 15px;
          text-align: left;
          span {
            display: block;
            font-size: 18px;
          }
        }
        .date {
          font-size: 18px;
          text-align: left;
        }
      }
      .right-divider {
        width: 5px;
      }
    }

    .about-section {
      flex-direction: column-reverse;
      display: flex;
      margin-top: 10px;

      .details {
        width: 100%;
        .about {
          font-size: 20px;
        }
        .description {
          margin-left: 20px;
          font-size: 15px;
          line-height: 25px;
        }
      }

      .topics {
        margin-left: 20px;
        margin-top: 0px;
        padding-top: 0px;
        display: block;
        // text-align: center;
        // justify-content: center;
        // flex-wrap: nowrap;
        // width: 100%;
        .topic-container {
          // width: 90%;
          padding-top: 20px;
          height: auto;
          padding-bottom: 20px;

          .number{
            font-size: 50px;
          }
          .topic {
            font-size: 15px;
          }
        }
      }
    }

    .speakers-section {
      margin-top: 20px;
      .heading {
        font-size: 30px;
      }
      .speaker-tiles {
        flex-direction: row;
        display: flex;
        justify-content: space-between;
        flex-wrap:wrap;

        .speaker-card {
          flex-basis: 50%;
          margin-top: 60px;
        }
      }
    }

    .agenda-section {
      margin-top: 35px;
      margin-bottom: 10px;
      .heading {
        font-size: 25px;
      }

      .program {
        margin-top: 20px;
        display: block;
        .session-container {
          width: 100%;
          .session {
            font-size: 20px;
          }
          .schedule {
            padding-right: 10px;
            .time {
              width: 25%;
              font-size: 15px;
              margin-left: 5px;
            }
            .item {
              width: 80%;
              margin-left: 10px;

              .title {
                font-size: 16px;
              }
            }
          }
        }
      }
    }

    .sponsors-section {
      padding-left: 0px;
      .heading {
        font-size: 25px;
      }
      .info {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        .sponsors {
          // width: 20%;
          flex-basis: 33%;
          // border: 1px solid red;
          .logo{
            max-width: 100px;
            max-height: 100px;
            width: auto;
            height: auto;
            margin-bottom: 30px;
          }
        }
      }
    }
  }
}